name: Update GitOps Manifests

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Path of the service"
        required: true
        type: choice
        options:
          - services/go/api-golang
          - services/node/api-node
          - services/other/api-golang-migrator
          - services/python/load-generator-python
          - services/react/client-react
      version:
        description: "Version to deploy"
        required: true
        type: string
      environment:
        description: "Target environment to deploy to"
        required: true
        type: choice
        options:
          - development
          - staging
          - production

jobs:
  update-manifests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4.2.2
      - name: Install Task
        uses: ./.github/actions/setup-dependencies
      - name: Update Manifests
        run: |
          task utils:update-image-tags-service \
            NEW_TAG="${{ inputs.version }}" \
            ENVIRONMENT="${{ inputs.environment }}" \
      - name: Check diff
        run: |
          git diff