name: Update GitOps Manifests

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Path of the service"
        required: true
        type: choice
        options:
          - services/go/api-golang
          - services/node/api-node
          - services/other/api-golang-migrator
          - services/python/load-generator-python
          - services/react/client-react
      version:
        description: "Version to deploy"
        required: true
        type: string
      environment:
        description: "Target environment to deploy to"
        required: true
        type: choice
        options:
          - development
          - staging
          - production

concurrency:
  group: ${{ github.workflow }}-${{ inputs.environment }}-${{ inputs.service }}
  cancel-in-progress: true

jobs:
  update-manifests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install task
        uses: ./.github/actions/setup-dependencies 

      - name: Generate commit message
        id: generate-commit-message
        run: |
          commit_message="chore: update ${{ inputs.environment }}, ${{ inputs.service }}, ${{ inputs.version }} [skip ci]"
          echo "commit_message=$commit_message" >> $GITHUB_OUTPUT

      - name: Update Manifests
        run: |
          task utils:update-image-tags-service \
            NEW_TAG="${{ inputs.version }}" \
            ENVIRONMENT="${{ inputs.environment }}" \
            SERVICE="${{ inputs.service }}"
      - name: Check diff
        run: |
          git --no-pager diff

      - name: Commit & Push
        if: ${{ !env.ACT }}
        working-directory: ${{ inputs.service }}
        run: |
          task utils:git:commit-push \
            COMMIT_MSG="${{ steps.generate-commit-message.outputs.commit_message }}" \
            BRANCH=main